/* import montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
}

/* logo navbar */
navbar-logo {
 border: 1px solid red;
}