.step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.secondary-judul p {
    font-size: 16px;
    font-weight: 500;
    color: #acaeb4;
}

.header {
    width: 60%;
    text-align: center;
}

.main-judul h1 {
    font-weight: 500;
    font-size: 45px;
}

.step-by-step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130%;
    margin-top: 50px;
    margin-left: -120px;
}

.stripes {
    width: 143px;
    border: 2px dashed #707070;
    margin-bottom: 6rem;
}

.progress-container {
    margin-top: -7rem;
    margin-bottom: 10rem;
    padding: 0px 70px;
  }
  
  .progress-decoration {
    position: relative;
    height: 16vh;
  }
  .progress-decoration svg {
    position: absolute;
    fill: rgba(237, 30, 40, 0.2);
  }
  .progress-decoration .icon-cloud {
    fill: rgba(145, 179, 250, 0.4);
  }
  .progress-decoration #cloud-one {
    right: 6vw;
    top: -12vh;
  }
  .progress-decoration #cloud-two {
    right: 32vw;
    top: -8vh;
  }
  .progress-decoration #cloud-three {
    right: 72vw;
    top: -12vh;
  }
  .progress-decoration #tree-one {
    bottom: 0;
    right: 80vw;
  }
  .progress-decoration #tree-two {
    bottom: 0;
    right: 20vw;
  }
  .progress-decoration #lamp-one {
    bottom: 0;
    right: 54vw;
  }
  .progress-decoration #lamp-two {
    bottom: 0;
    right: 0;
  }
  
  .progress-bar {
    background-color: transparent;
    border: 3px #f4f4f4 solid;
    border-radius: 20px;
    position: relative;
    margin: 4px 0 16px 0;
    height: 30px;
    width: 100%;
  }
  .progress-bar .completed-bar {
    background: linear-gradient(98.81deg, #12EBA4 2.89%, #508F97 90.55%);
    border-radius: 20px;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: width 2s ease 0.4s;
    padding: 0 8px;
  }
  .progress-bar .completed-bar__dashed {
    width: 96%;
    border: 2px dashed #ffffff;
  }
  .progress-bar .completed-bar__truck {
    font-size: 1.5rem;
    margin-left: 4px;
  }
  
  .progress-information {
    display: none;
    justify-content: space-between;
    padding: 0 4px;
  }
  
  .icon-cloud {
    height: 50px;
    width: 50px;
  }
  .icon-lamp {
    height: 70px;
    width: 60px;
  }
  .icon-tree--one {
    height: 60px;
    width: 60px;
  }
  .icon-tree--two {
    height: 70px;
    width: 60px;
  }
  
  p {
    font-family: "Poppins", "Helvetica", "sans-serif";
    letter-spacing: 1px;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1rem;
    color: rgba(48, 48, 48, 0.6);
  }
  
  @media only screen and (max-width: 576px) {
    .progress-container {
      padding: 0px 16px;
    }
  
    .progress-decoration {
      display: none;
    }
  
    .progress-information {
      display: flex;
    }
  
    .progress-bar {
      margin-bottom: 4px;
    }
    .progress-bar .completed-bar__dashed {
      width: 96%;
      border: 1px dashed #ffffff;
    }
    .progress-bar .completed-bar__truck {
      font-size: 1rem;
      margin-left: 0;
    }
  }